{
  "presets": [
    [
      "env",
      {
        "exclude": [
          "babel-plugin-transform-regenerator",
          "transform-async-to-generator"
        ]
      }
    ],
    "react"
  ],
  "plugins": [
    [
      "module-resolver",
      {
        "root": [
          "./src"
        ]
      }
    ],
    "transform-export-extensions",
    "transform-async-to-generator"
  ]
}
